#the,#world {
  overflow: hidden;
  text-align: center;margin-top:0;margin-bottom:0;
  font-size:17px;
}

#the:before,
#the:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 33%;
}
#world:before,
#world:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 28%;
}


body{
    margin-top:0;
    margin-left:0;
    background:#add8e6 ;
}
#logout{

position:relative;
top:20%;left:20%;
}
#login{
background:grey;opacity:0.7;
padding-top:10px;
text-align:center;
width:20%;
height:45px;
text-decoration:none;
position:absolute;
top:10%;
left:20%;border:3.5px solid white;border-radius:15px;
}
#signup{
background:grey;opacity:0.7;
padding-top:10px;
text-align:center;
width:20%;
height:45px;
text-decoration:none;
position:absolute;
top:10%;
left:60%;border:3.5px solid white;border-radius:15px;
}
a{
font-family:sans serif;text-decoration:none;color:black;font-size:20px;
}
a:hover{
color:white;
}

#box{
  width:600px;height:600px;border-radius:50%;
  background:url("../word.jpg");
  margin:auto;
  margin-top:10vh;
}
.text{
background:black;border-radius:5px;
position:relative;
top:35%;
}
#box1{
text-align:center;
width:100px;height:100px;background:#add8e6;opacity:1;border-radius: 50px;
position:relative;
  left: 250px;
  top: 0px;
}
#box2{
text-align:center;
width:100px;height:100px;background:#add8e6;opacity:1;border-radius: 50px;
position:relative;
  left: 250px;
  top: 400px;
}
#box3{
text-align:center;
width:100px;height:100px;background:#add8e6;opacity:1;border-radius: 50px;
position:relative;
  left: 0px;
  top: 50px;
}
#box4{
text-align:center;
width:100px;height:100px;background:#add8e6;opacity:1;border-radius: 50px;
position:relative;
  left: 500px;
  top: -50px;
}
#box1:hover,#box2:hover,#box3:hover,#box4:hover{border:2px solid #532915;background:white;}
